<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lunzn.com.transmit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity android:name=".MainActivity">-->
        <activity android:name=".activity.Activity2" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.Activity1" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity android:name=".MainActivity"/>
            <activity android:name=".activity.VolleyActivity1" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity android:name=".activity.LitePalActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity android:name=".activity.VideoActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity android:name=".activity.MediaPlayerActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity android:name=".activity.VideoViewActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>